:root {
  --yellow: #ffc600;
}

body {
  color: #444;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

header h1 {
  font-size: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(44, 44, 44, 0.5);
}

nav ul {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
  padding: 0px;
  margin: 0px;
}

ul li:first-child {
  font-weight: 700;
  text-decoration: underline;
}

nav li {
  list-style: none;
}

nav a {
  color: black;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

.post a {
  color: black;
  text-decoration: underline wavy var(--yellow);
}

h1,
h2 {
  font-size: 80px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

.post {
  display: grid;
  max-width: 1000px;
  margin: 50px auto;
  grid-gap: 10px 50px;
  grid-template-columns: 3fr 12fr 5fr;
}

.post > * {
  grid-column: 2 / -2;
}

.post > figure {
  grid-column: 1 / -1;
  margin: 0;
}

figcaption {
  font-size: 12px;
}

.post > blockquote {
  grid-column: 1 / -1;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.tip {
  background: #fafafa;
  padding: 10px;
  grid-row: span 5;
  align-self: start;
}

.tip-left {
  grid-column: 1 / span 1;
  text-align: right;
  border-right: 2px solid var(--yellow);
}

.tip-right {
  grid-column: span 1 / -1;
  border-left: 2px solid var(--yellow);
}

footer {
  border-top: 1px solid rgba(44, 44, 44, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
}

footer h2 {
  font-size: 32px;
  width: 200px;
}

.socials {
  width: 200px;
}

.socials a {
  font-size: 32px;
  color: rgb(44, 44, 44);
  padding: 5px;
}
